<div>
  <section class="hero">
    <div class="hero-body">
      <div class="container">
        <h1 class="title">
          Produtos
        </h1>
        <h2 class="subtitle">
          Lista de Produtos
        </h2>
      </div>
    </div>
  </section>

  <div class="box">
    <div>
      <a class="button is-primary" [routerLink]="['novo']">Novo</a>
    </div>
    <table class="table is-bordered table is-striped table is-hoverable table is-fullwidth">
      <thead>
        <tr class="subtitle">
          <th>Código</th>
          <th>Nome</th>
          <th>Descrição</th>
          <th>Preço</th>
          <th>Opções</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let produto of produtos">
          <td>{{produto.id}}</td>
          <td><a [routerLink]="[produto.id]">{{produto.nome}}</a></td>
          <td>{{produto.descricao}}</td>
          <td>{{produto.preco}}</td>
          <td><button class="button is-danger" (click)="remover(produto.id)">Remover</button></td>
      </tbody>
    </table>
  </div>

</div>