<nav class="navbar" role="navigation" aria-label="dropdown navigation">
  <a class="navbar-item">
    <img src="https://bulma.io/images/bulma-logo.png" alt="Bulma: Free, open source, & modern CSS framework based on Flexbox"
      width="112" height="28">
  </a>

  <div id="navbarBasicExample" class="navbar-menu">
    <div class="navbar-start">
      <a class="navbar-item" [routerLink]="['/contatos']">
        Contatos
      </a>
      <a class="navbar-item" [routerLink]="['/produtos']">
        Produtos
      </a>
    </div>
  </div>
</nav>

<section class="hero is-primary">
  <div class="hero-body">
    <p class="title">
      {{title}}
    </p>
    <router-outlet></router-outlet>
  </div>

</section>